
.main-component{
  max-width: 327px;
  width: 85%;
  margin: 120px auto 0 auto;
  background-color: var(--blue900);
  height: fit-content;
  border-radius: 10px;
  padding: 35px 25px 0px 25px;

}

.advice-number{
  margin: 0 auto;
  color: var(--green200);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 500;
}

.advice-text{
  color: var(--blue200);
  font-size: 26px;
  text-align: center;
}
.advice-divider{
  background-image: url(./assets/pattern-divider-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 20px;
}
.image-section{
  background-color: var(--green200);
  width: 62px;
  height: 62px;
  border-radius: 32px;
  padding: 1px;
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
  top:31px;
  transition: box-shadow 0.2s ease-in-out;

}
.image-section:hover{
  -webkit-box-shadow: 1px 1px 15px 9px rgba(82,255,168,0.8); 
  box-shadow: 1px 1px 15px 9px rgba(82,255,168,0.8); 
  cursor: pointer; 
}
.image-section .dice{
  margin: 19px;
  width: 24px;
  height: auto;
}
@media (min-width: 768px) {
  .main-component{
    max-width: 490px;
    margin: 200px auto;
  }
  .advice-number{
    padding: 10px 0;
    font-size: 14px;
  }
  .advice-text{
    padding: 5px 0;
  }
  .advice-divider{
    background-image: url(assets/pattern-divider-desktop.svg);
  }
  .image-section{
    margin-top: 5px;
  }
}